body{

	background-image: url("../images/background.jpg");
	background-size: cover;

}

.heading, .player, .enemies, .fight, .defender{

	color:white;
	font-size: 20px;
	padding-left: 15px;
}

img.third{

	height: 143px;
}

.attack{
	background: #CDDC39;
	color:black;
	border-radius: 4px;
	
}
.heading{
	font-size: 25px;
}

.clear{
	height:30px;
	width:80px;
	font-size:15px;
	background: #CDDC39;
	color:black;
}

.attackRow, .restartRow{
	padding-left: 15px;
}


.thumbnail:hover,
.selectedOpponent > .thumbnail{
	background-color: #CDDC39;
}


.selectedDefender>.thumbnail{
background: #e85d5d;
/*color:black;*/

}
.thumbnail{
	color:black;
}
.lost, .playerAttacks, .defenderAttacks{
	color:white;
}




